@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  padding: 0;
  background: url("./bg-image.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Inter", serif;
    color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: "Inter", serif;

  backdrop-filter: blur(5px);
}

.content-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
  animation: fadeIn 1.2s ease-in-out;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.input-box {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Inter", serif;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.btn {
  background: #881400;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: "Inter", serif;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: #450b00;
}

.results {
  margin-top: 20px;
}

.fade-in {
  animation: fadeIn 1s ease-in;
  list-style-type: none;
  font-family: "Inter", serif;
  margin: 0;
}

.text-contrast {
  font-size: 1.2rem;
  color: #ffcc00;
  text-decoration: none;
  font-family: "Inter", serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
